In [56]:
# summarize the horse colic dataset
from numpy import isnan
import numpy as np
import pandas as pd
from pandas import read_csv
from sklearn.impute import KNNImputer

In [67]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/horse-colic.csv'
dataframe = read_csv(url, header=None, na_values='?')

In [68]:
# summarize the first few rows
dataframe.head(5)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [69]:
for col in dataframe.columns:
    if col != 6:
        dataframe[col].fillna("Not Available", inplace = True)

In [70]:
dataframe.head(5)

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,Not Available,2.0,...,45.0,8.4,Not Available,Not Available,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,Not Available,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,Not Available,Not Available,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,Not Available,6.0,2.0,...,74.0,7.4,Not Available,Not Available,2.0,2,4300,0,0,2

In [ ]:
You can try this

    for col in mydataset_df.columns:
           if col != "lag":
             mydataset_df[col].fillna("Not Available", inplace = True)

In [52]:
dataframe = dataframe.where(~dataframe.notna(), "?")

In [53]:
dataframe.head(5)

  0  1  2  3  4  5    6    7    8  9   ... 18 19   20   21 22 23 24 25 26 27
0  ?  ?  ?  ?  ?  ?    ?    ?  NaN  ?  ...  ?  ?  NaN  NaN  ?  ?  ?  ?  ?  ?
1  ?  ?  ?  ?  ?  ?  NaN  NaN    ?  ?  ...  ?  ?    ?    ?  ?  ?  ?  ?  ?  ?
2  ?  ?  ?  ?  ?  ?    ?    ?    ?  ?  ...  ?  ?  NaN  NaN  ?  ?  ?  ?  ?  ?
3  ?  ?  ?  ?  ?  ?    ?    ?    ?  ?  ...  ?  ?    ?    ?  ?  ?  ?  ?  ?  ?
4  ?  ?  ?  ?  ?  ?  NaN  NaN    ?  ?  ...  ?  ?  NaN  NaN  ?  ?  ?  ?  ?  ?

[5 rows x 28 columns]

In [54]:
dataframe.fillna(0, inplace=True)

In [55]:
dataframe.head(5)

  0  1  2  3  4  5  6  7  8  9   ... 18 19 20 21 22 23 24 25 26 27
0  ?  ?  ?  ?  ?  ?  ?  ?  0  ?  ...  ?  ?  0  0  ?  ?  ?  ?  ?  ?
1  ?  ?  ?  ?  ?  ?  0  0  ?  ?  ...  ?  ?  ?  ?  ?  ?  ?  ?  ?  ?
2  ?  ?  ?  ?  ?  ?  ?  ?  ?  ?  ...  ?  ?  0  0  ?  ?  ?  ?  ?  ?
3  ?  ?  ?  ?  ?  ?  ?  ?  ?  ?  ...  ?  ?  ?  ?  ?  ?  ?  ?  ?  ?
4  ?  ?  ?  ?  ?  ?  0  0  ?  ?  ...  ?  ?  0  0  ?  ?  ?  ?  ?  ?

[5 rows x 28 columns]

In [9]:
# summarize the number of rows with missing values for each column
for i in range(dataframe.shape[1]):
	# count number of rows with missing values
	n_miss = dataframe[[i]].isnull().sum()
	perc = n_miss / dataframe.shape[0] * 100
	print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

> 0, Missing: 1 (0.3%)
> 1, Missing: 0 (0.0%)
> 2, Missing: 0 (0.0%)
> 3, Missing: 60 (20.0%)
> 4, Missing: 24 (8.0%)
> 5, Missing: 58 (19.3%)
> 6, Missing: 56 (18.7%)
> 7, Missing: 69 (23.0%)
> 8, Missing: 47 (15.7%)
> 9, Missing: 32 (10.7%)
> 10, Missing: 55 (18.3%)
> 11, Missing: 44 (14.7%)
> 12, Missing: 56 (18.7%)
> 13, Missing: 104 (34.7%)
> 14, Missing: 106 (35.3%)
> 15, Missing: 247 (82.3%)
> 16, Missing: 102 (34.0%)
> 17, Missing: 118 (39.3%)
> 18, Missing: 29 (9.7%)
> 19, Missing: 33 (11.0%)
> 20, Missing: 165 (55.0%)
> 21, Missing: 198 (66.0%)
> 22, Missing: 1 (0.3%)
> 23, Missing: 0 (0.0%)
> 24, Missing: 0 (0.0%)
> 25, Missing: 0 (0.0%)
> 26, Missing: 0 (0.0%)
> 27, Missing: 0 (0.0%)

In [14]:
dataframe.isnull().sum().sum()

1605

In [12]:
# split into input and output elements
data = dataframe.values

ix = [i for i in range(data.shape[1]) if i != 23]
X, y = data[:, ix], data[:, 23]

# print total missing
print('Missing: %d' % sum(isnan(X).flatten()))

Missing: 1605

In [22]:
ix

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 26,
 27]

In [23]:
# define imputer
imputer = KNNImputer()
# fit on the dataset
imputer.fit(X)
# transform the dataset
Xtrans = imputer.transform(X)
# print total missing
print('Missing: %d' % sum(isnan(Xtrans).flatten()))

Missing: 0