In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(np.arange(20).reshape(10, -1),
                  [['a', 'a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd'],
                   ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']],
                  ['X', 'Y'])

In [5]:
df

      X   Y
a a   0   1
  b   2   3
  c   4   5
  d   6   7
b e   8   9
  f  10  11
  g  12  13
c h  14  15
  i  16  17
d j  18  19

In [6]:
df.groupby(level = 0, as_index= False).nth([0,-1])

      X   Y
a a   0   1
  d   6   7
b e   8   9
  g  12  13
c h  14  15
  i  16  17
d j  18  19

In [8]:
lst = [1, 2, 3, 1, 2, 3]
s = pd.Series([1, 2, 3, 10, 20, 30], lst)
grouped = s.groupby(level=0)

In [11]:
s

1     1
2     2
3     3
1    10
2    20
3    30
dtype: int64

In [9]:
grouped.first()

1    1
2    2
3    3
dtype: int64

In [10]:
grouped.last()

1    10
2    20
3    30
dtype: int64