In [6]:
from collections import Counter

In [10]:
a_list = ["a", "b", "a"]
occurrences = Counter(a_list)

In [11]:
occurrences

Counter({'a': 2, 'b': 1})

In [12]:
import pandas as pd
from collections import Counter

df: pd.DataFrame = pd.DataFrame([
    [["call", "email", "call"], 5],
    [["fax", "fax", "visit", "visit"], 4],
    [["call", "fax", "call"], 6],
    [["email", "email", "visit"], 7]
], columns=['campaign_type', 'total_monthly_sale'])

df['campaign_dict'] = df['campaign_type'].apply(Counter)
print(df)

              campaign_type  total_monthly_sale             campaign_dict
0       [call, email, call]                   5   {'call': 2, 'email': 1}
1  [fax, fax, visit, visit]                   4    {'fax': 2, 'visit': 2}
2         [call, fax, call]                   6     {'call': 2, 'fax': 1}
3     [email, email, visit]                   7  {'email': 2, 'visit': 1}

In [22]:
df["campaign_dict"] = df["campaign_type"].apply(Counter)

In [26]:
df

              campaign_type  total_monthly_sale             campaign_dict
0       [call, email, call]                   5   {'call': 2, 'email': 1}
1  [fax, fax, visit, visit]                   4    {'fax': 2, 'visit': 2}
2         [call, fax, call]                   6     {'call': 2, 'fax': 1}
3     [email, email, visit]                   7  {'email': 2, 'visit': 1}